* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-primary: #8062d6;
  --bg-secondary: #9288f8;
  --bg-optional: #322653;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: var(--bg-primary);
}

.wrap-center {
  display: flex;
  /* height: auto; */
  /* flex-wrap: wrap; */
  align-items: center;
  flex-direction: column;
}

.headline {
  color: whitesmoke;
  font-size: 2rem;
  margin-bottom: 1em;
}

.wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* height: auto; */
  /* background-color: tan; */
}

.card {
  width: 100%;
  padding: 20px;
  margin: 10px;
  color: var(--bg-optional);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 2em;
}

.icons {
  margin-top: 5px;
  font-size: 1.3em;
  color: var(--bg-optional);
}

.desc {
  font-size: 1em;
  margin-top: 8px;
}

.btn {
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  color: var(--bg-optional);
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.btn:hover {
  width: 100%;
  transform: rotate(1.5deg);
  transition: 0.2s all ease-in-out;
  color: whitesmoke;
  background-color: var(--bg-optional);
}

@media screen and (max-width: 768px) {
  .wrapper{
    flex-wrap: wrap;
  }

  .card{
    width: 35%;
  }
}

@media screen and (max-width: 476px) {
  .wrap-center{
    margin-top: 2em;
  }

  .wrapper{
    flex-wrap: wrap;
  }

  .headline {
    margin-bottom: 0.3em;
  }

  .card{
    width: 70%;
    height: 30%;
  }
}

